<div class="add-form">
    <form class="form-detail">
        <strong>Szczegły dokumentu:
            <div style="float:right;">
                <button pButton label="Edycja" [routerLink]="'/documents/edit-document'"></button>
                <button pButton label="Wroć" [routerLink]="'/documents'"></button>
            </div>
        </strong>

        <table style="width: 100%;">
            <tr>
                <td style="width:310px;">
                    <label>Tytuł:</label>
                    <div>{{document.title}}</div>
                    <label>Numer:</label>
                    <div>{{document.number}}</div>
                </td>
                <td style="width:310px">
                    <label>Data rejestracji:</label>
                    <div>{{document.registerDate | date:'yyyy-MM-dd HH:mm' }}</div>
                    <label>Osoba rejestrująca:</label>
                    <div>{{document.creator.firstname}} {{document.creator.lastname}}</div>
                </td>

                <td style="width:310px">
                    <label>Wersja:</label>
                    <div>{{document?.version}}</div>
                    <label>Miejsce przechowywania:</label>
                    <div>{{document?.editDate | date:'yyyy-MM-dd HH:mm' }}</div>
                </td>
                <td style="width:310px">
                    <label>Miejsce przechowywania:</label>
                    <div [innerHtml]="storageLocationTree"></div>
                </td>
                <td>
                    <div>
                        <div><label>Kod kreskowy:</label></div>
                        <ngx-barcode [bc-value]="document?.barcode" [bc-display-value]="true" [bc-height]="50" [bc-width]="2"></ngx-barcode>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <label>Opis:</label>
                    <div>{{document?.description}}</div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label> Załączone pliki:</label>
                    <p-dataTable [value]="documentAttachments">
                        <p-column header="Lp.">
                            <ng-template let-i="rowIndex" pTemplate="body">
                                {{i+1}}
                            </ng-template>
                        </p-column>
                        <p-column field="name" header="Nazwa"></p-column>
                        <p-column field="extension" header="Rozszerzenie "></p-column>
                        <p-column field="size" header="Rozmiar [kb]"></p-column>
                        <p-column>
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <fa [name]="'download'" [size]=1></fa>
                                <fa [name]="'edit'" [size]=1></fa>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </td>
            </tr>

        </table>
    </form>
</div>