td {
    vertical-align: top;
}

.document-row td {
    width: 230px;
}

.document-row {
    text-align: justify;
    font-size: 14px;
    border-bottom: 1px solid #d4d5d6;
}

.document-row:hover {
    cursor: pointer;
    background-color: #d8d6d6;
}

label {
    font-size: 15px;
    font-weight: 700;
}

.del-document-cart {
    cursor: pointer;
    float: right;
    position: relative;
    opacity: 0.7;
}