<div class="topbar">
    <table style="width: 100%;">
        <tr>
            <td style="width: 35px;">
                <app-hamburger-menu-button (click)="hamButtonClick()"></app-hamburger-menu-button>
            </td>
            <td style="width: 320px;">
                <span>Repozytorium Dokumentow</span>
            </td>
            <td style="width: 400px;">
                <app-search-input></app-search-input>
            </td>
            <td>
                <fa class="shopping-document-basket" [name]="'shopping-basket'" [size]=2></fa>
            </td>
            <td>
                <app-user-short-info></app-user-short-info>
            </td>
        </tr>
    </table>
</div>