.topbar {
    background: #03a9f4;
    color: #fff;
    height: 56px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    margin: 0;
}

.shopping-document-basket {
    cursor: pointer;
    position: absolute;
    right: 250px;
    top: 20px;
}

.document-cart-view {
    color: black;
    position: relative;
    z-index: 100;
    width: 200px;
    top: 180px;
    left: 200px;
}