<div class="topbar">
    <table style="width: 100%;">
        <tr>
            <td style="width: 35px;">
                <app-hamburger-menu-button (click)="hamButtonClick()"></app-hamburger-menu-button>
            </td>
            <td style="width: 320px;">
                <span>Repozytorium Dokumentow</span>
            </td>
            <td style="width: 400px;">
                <app-search-input></app-search-input>
            </td>
            <td>
                <div class="shopping-document-basket" (click)="cartSwitch()">
                    <fa [name]="'shopping-basket'" [size]=2></fa>
                    <span>Koszyk</span>
                </div>
                <div *ngIf="cartView" class="document-cart-view">
                    <app-document-cart-view></app-document-cart-view>
                </div>

            </td>
            <td>
                <app-user-short-info></app-user-short-info>
            </td>
        </tr>
    </table>
</div>