<p-tabView>
    <p-tabPanel header="Użytkownicy">
        <br>
        <div>
            After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced
            from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
        </div>
    </p-tabPanel>
    <p-tabPanel header="Miejsca przchowywania">
        <br>
        <div>
            After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced
            from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
        </div>
    </p-tabPanel>

</p-tabView>