<div class="add-form">
    <form class="form-detail">
        <strong>Edycja dokumentu:
                    <div style="float:right;">
                            <button type="submit" (click)="onSubmit($event)" pButton label="OK"></button>
                            <button pButton label="Wroć" [routerLink]="'/documents/document-detail'"></button>
                    </div>
                </strong>

        <table style="width: 100%;">
            <tr>
                <td style="width:310px;">
                    <label>Tytuł:</label>
                    <input type="text" [(ngModel)]="title" name="title " size="35" [ngModelOptions]="{standalone: true}" pInputText>
                    <label>Numer:</label>
                    <input type="text" [(ngModel)]="number" name="number " size="35" [ngModelOptions]="{standalone: true}" pInputText>
                </td>
                <td style="width:310px">
                    <label>Data rejestracji:</label>
                    <div>{{today | date:'yyyy-MM-dd' }}</div>
                    <label>Osoba rejestrująca:</label>
                    <div>---</div>
                </td>

                <td style="width:310px">
                    <label>Wersja:</label>
                    <div>1</div>
                    <label>Ostatnia edycja:</label>
                    <div>---</div>
                </td>
                <td style="width:310px">
                    <label>Miejsce przechowywania:</label>
                    <!-- <input type="text" [(ngModel)]="document.number" name="number " size="35" [ngModelOptions]="{standalone: true}" pInputText> -->
                    <td>
                        <div>
                            <div><label>Kod kreskowy:</label> <button *ngIf="!barcode" (click)="genBarcode()" pButton label="Generuj"></button></div>
                            <ngx-barcode [bc-value]="barcode" [bc-display-value]="true" [bc-height]="50" [bc-width]="2"></ngx-barcode>
                        </div>
                    </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>Opis:</label>
                    <div><textarea [rows]="10" [cols]="80" pInputTextarea autoResize="autoResize" [(ngModel)]="description" name="description " placeholder="Opis " [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </td>
                <td rowspan="3" colspan="3">
                    <div>
                        <label>Opiniowanie:</label>
                        <div><textarea [rows]="10" [cols]="80" pInputTextarea autoResize="autoResize" [(ngModel)]="opinion" name="opinion" placeholder="Dodaj opinie" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2">
                    <label>Dodaj plik:</label>
                    <p-fileUpload #fileInput [showUploadButton]="false" [showCancelButton]="false" maxFileSize="1000000"></p-fileUpload>
                </td>

            </tr>

        </table>
    </form>
</div>