<div class="add-form">
    <form class="form-detail">
        <strong>Edycja dokumentu:
                <div style="float:right;">
                        <button type="submit" (click)="onSubmit($event)" pButton label="OK"></button>
                        <button pButton label="Wroć" [routerLink]="'/documents/document-detail'"></button>
                </div>
            </strong>
        <table style="width: 100%;">
            <tr>
                <td style="width:310px;">
                    <label>Tytuł:</label>
                    <input type="text" [(ngModel)]="document.title" name="title " size="35" [ngModelOptions]="{standalone: true}" pInputText>
                    <label>Numer:</label>
                    <input type="text" [(ngModel)]="document.number" name="number " size="35" [ngModelOptions]="{standalone: true}" pInputText>
                </td>
                <td style="width:310px">
                    <label>Data rejestracji:</label>
                    <div>{{document.registerDate | date:'yyyy-MM-dd' }}</div>
                    <label>Osoba rejestrująca:</label>
                    <div>{{document.creator.firstname}} {{document.creator.lastname}}</div>
                </td>

                <td style="width:310px">
                    <label>Wersja:</label>
                    <div>{{document?.version}}</div>
                    <label>Ostatnia edycja:</label>
                    <div>{{document?.editDate | date:'yyyy-MM-dd' }}</div>
                </td>
                <td style="width:310px">
                    <label>Miejsce przechowywania:</label>
                    <p-dropdown [(ngModel)]="storageLocationId" [options]="items" [ngModelOptions]="{standalone: true}" [autoWidth]="false" [style]="{'width':'160px', 'content':'none'}"></p-dropdown>
                    <td>
                        <div>
                            <div><label>Kod kreskowy:</label></div>
                            <ngx-barcode [bc-value]="document?.barcode" [bc-display-value]="true" [bc-height]="50" [bc-width]="2"></ngx-barcode>
                        </div>
                    </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>Opis:</label>
                    <div><textarea [rows]="10" [cols]="80" pInputTextarea autoResize="autoResize" [(ngModel)]="document.description" name="description " placeholder="Opis " [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </td>
                <td rowspan="3" colspan="3">
                    <div>
                        <label>Opiniowanie:</label>
                        <div *ngFor="let opinion of opinions">
                            <p-fieldset [legend]="(opinion.addDate | date:'yyyy-MM-dd HH:mm') + ' - ' + opinion.user">
                                {{opinion.content}}
                            </p-fieldset>
                        </div>
                        <br>
                        <div style="text-align: center">
                            <textarea [rows]="5" [cols]="85" pInputTextarea autoResize="autoResize" [(ngModel)]="newOpinion" name="newOpinion " placeholder="Nowa opinia " [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2">
                    <label>Dodaj plik:</label>
                    <p-fileUpload #fileInput [showUploadButton]="false" [showCancelButton]="false" maxFileSize="1000000"></p-fileUpload>
                </td>

            </tr>

        </table>
    </form>
</div>