<div class="search-form">
    <form class="login" (ngSubmit)="onSubmit($event)">
        <strong class="login-title">Wyszukiwanie:</strong>
        <table>
            <tr>
                <td>
                    <label>Data od:</label>
                    <p-calendar [(ngModel)]="dateFrom" [showIcon]="true" [ngModelOptions]="{standalone: true}"></p-calendar>
                </td>
                <td>
                    <label>Data do:</label>
                    <p-calendar [(ngModel)]="dateTo" [showIcon]="true " [ngModelOptions]="{standalone: true}"></p-calendar>
                </td>
                <td style="width: 180px">
                    <label>Numer:</label>
                    <input type="text" [(ngModel)]="number" name="number " [ngModelOptions]="{standalone: true}" pInputText>
                </td>
                <td style="width: 180px">
                    <label>Kod kreskowy:</label>
                    <input type="text" [(ngModel)]="barcode" name="barcode " [ngModelOptions]="{standalone: true}" pInputText>
                </td>
                <td>
                    <label>Użytkownik rejestrujący:</label>
                    <p-dropdown [(ngModel)]="ownerId" [options]="owners" [ngModelOptions]="{standalone: true}" [autoWidth]="false" [style]="{'width':'160px', 'content':'none'}"></p-dropdown>
                </td>
                <td style="padding-top: 22px">
                    <button type="submit" pButton label="Szukaj"></button>
                    <button icon="fa-plus" iconPos="left" style="float: right;" class="ui-button-success" pButton label="Dodaj" [routerLink]="'add-document'"></button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div>
    <p-dataList [value]="documents" [paginator]="true" [rows]="5">
        <p-header> Dokumenty </p-header>
        <ng-template let-document pTemplate="item ">
            <div class="document-row " (click)="onClick($event, document)">
                <table style="width: 100%; ">
                    <tr>
                        <td>
                            <strong>{{document.title}}</strong>
                        </td>
                        <td>
                            <strong>{{document.number}}</strong>
                        </td>
                        <td>
                            <strong>{{document.barcode}}</strong>
                        </td>
                        <td>
                            <strong>{{document.registerDate}}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10">
                            <span>{{document.description}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>
    </p-dataList>
</div>