<div class="search-form">
    <form class="login" (ngSubmit)="onSubmit($event)">
        <strong class="login-title">Wyszukiwanie:</strong>
        <table>
            <tr>
                <td>
                    <label>Data od:</label>
                    <p-calendar [(ngModel)]="dateFrom" [showIcon]="true" [ngModelOptions]="{standalone: true}"></p-calendar>
                </td>
                <td>
                    <label>Data do:</label>
                    <p-calendar [(ngModel)]="dateTo" [showIcon]="true " [ngModelOptions]="{standalone: true}"></p-calendar>
                </td>
                <td style="width: 180px">
                    <label>Numer:</label>
                    <input type="text" [(ngModel)]="number" name="number " [ngModelOptions]="{standalone: true}" pInputText>
                </td>
                <td style="width: 180px">
                    <label>Kod kreskowy:</label>
                    <input type="text" [(ngModel)]="barcode" name="barcode " [ngModelOptions]="{standalone: true}" pInputText>
                </td>
                <td>
                    <label>Osoba rejestrująca:</label>
                    <p-dropdown [(ngModel)]="ownerId" [options]="owners" [ngModelOptions]="{standalone: true}" [autoWidth]="false" [style]="{'width':'160px', 'content':'none'}"></p-dropdown>
                </td>
                <td style="padding-top: 22px">
                    <button type="submit" pButton label="Szukaj"></button>
                    <button icon="fa-plus" iconPos="left" style="float: right;" class="ui-button-success" pButton label="Dodaj" [routerLink]="'add-document'"></button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div>
    <p-dataList [value]="documents" [paginator]="true" [rows]="10">
        <p-header> Dokumenty </p-header>
        <ng-template let-document pTemplate="item ">
            <div class="document-row" (dblclick)="onClick($event, document)">
                <table style="width: 100%;">
                    <tr>

                        <td>
                            <label>Tytuł:</label>
                            <div>{{document.title}}</div>
                        </td>
                        <td>
                            <label>Numer:</label>
                            <div>{{document.number}}</div>
                        </td>
                        <td><label>Kod:</label>
                            <div>{{document.barcode}}</div>
                        </td>
                        <td><label>Data rejestracji:</label>
                            <div>{{document.registerDate | date:'yyyy-MM-dd HH:mm' }}</div>
                        </td>
                        <td><label>Osoba rejestrująca:</label>
                            <div>{{document.creator.firstname}} {{document.creator.lastname}}</div>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="description">
                                <div [title]="document.description">{{document.description}}</div>
                            </div>
                        </td>
                    </tr>
                </table>


            </div>

        </ng-template>
    </p-dataList>
</div>