.document-row td {
    vertical-align: top;
    min-width: 215px;
}

.document-row {
    text-align: justify;
    font-size: 14px;
    border-bottom: 1px solid #d4d5d6;
}

.document-row:hover {
    cursor: pointer;
    background-color: #d8d6d6;
}

.search-form td {
    width: 270px;
}

.search-form {
    margin: 5px;
}

.description {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    width: 90%;
    height: 50px;
    display: block;
    overflow: hidden
}

.title {
    color: gray;
}

label {
    font-size: 12px;
    font-weight: 700;
}