<div>
    Test
</div>
<div>
    <p-dataList [value]="documents" [paginator]="true" [rows]="10">
        <p-header> Dokumenty </p-header>
        <ng-template let-document pTemplate="item ">
            <div class="document-row" (dblclick)="onClick($event, document)">
                <table style="width: 100%;">
                    <tr>

                        <td>
                            <label>Tytuł:</label>
                            <div>{{document.title}}</div>
                        </td>
                        <td>
                            <label>Numer:</label>
                            <div>{{document.number}}</div>
                        </td>
                        <td><label>Kod:</label>
                            <div>{{document.barcode}}</div>
                        </td>
                        <td><label>Data rejestracji:</label>
                            <div>{{document.registerDate | date:'yyyy-MM-dd HH:mm' }}</div>
                        </td>
                        <td><label>Osoba rejestrująca:</label>
                            <div>{{document.creator.firstname}} {{document.creator.lastname}}</div>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="description">
                                <div [title]="document.description">{{document.description}}</div>
                            </div>
                        </td>
                    </tr>
                </table>


            </div>

        </ng-template>
    </p-dataList>
</div>