<h4>Szczegoly miejsca przechowywania:</h4>
<div>
    <table style="width: 100%;">
        <tr>
            <td style="width:310px;">
                <label>Nazwa:</label>
                <div>{{storageLocation?.name}}</div>
            </td>
            <td style="width:310px">
                <label>Typ:</label>
                <div>{{storageType}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label>Opis:</label>
                <div>{{storageLocation?.description}}</div>
                <div *ngIf="storageLocation?.description">Brak opisu</div>
        </tr>
    </table>

</div>
<div>
    <p-dataList [value]="documents" [paginator]="true" [rows]="10">
        <p-header> Dokumenty </p-header>
        <ng-template let-document pTemplate="item ">
            <div class="document-row" (dblclick)="onClick($event, document)">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <label>Tytuł:</label>
                            <div>{{document.title}}</div>
                        </td>
                        <td>
                            <label>Numer:</label>
                            <div>{{document.number}}</div>
                        </td>
                        <td><label>Kod:</label>
                            <div>{{document.barcode}}</div>
                        </td>
                        <td><label>Data rejestracji:</label>
                            <div>{{document.registerDate | date:'yyyy-MM-dd HH:mm' }}</div>
                        </td>
                        <td><label>Osoba rejestrująca:</label>
                            <div>{{document.creator.firstname}} {{document.creator.lastname}}</div>
                        </td>
                        <td>
                            <fa [name]="'cart-plus'" [size]=1 (click)="addToCart(document)"></fa>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="description">
                                <div [title]="document.description">{{document.description}}</div>
                            </div>
                        </td>
                    </tr>
                </table>


            </div>

        </ng-template>
    </p-dataList>
</div>